{{ form_start(form) }}
    <table class="container d-flex m-auto text-center">
        <tbody class=" m-auto">
            <tr>
                <td class="text-right">{{ form_label(form.nom) }}</td>
                <td class="text-left">{{ form_widget(form.nom) }}</td>
            </tr>
            <tr>
                <td class="text-right">{{ form_label(form.prenom) }}</td>
                <td class="text-left">{{ form_widget(form.prenom) }}</td>

            </tr>
            <tr>
                <td class="text-right">{{ form_label(form.date_naissance) }}</td>
                <td class="text-left">{{ form_widget(form.date_naissance) }}</td>

            </tr>
            <tr>
                <td class="text-right">{{ form_label(form.genre) }}</td>
                <td class="text-left">{{ form_widget(form.genre) }}</td>

            </tr>
            <tr>
                <td class="text-right">{{ form_label(form.archivee) }}</td>
                <td class="text-left">{{ form_widget(form.archivee) }}</td>

            </tr>
            <tr>
                <td class="text-right">{{ form_label(form.Category_id) }}</td>
                <td class="text-left">{{ form_widget(form.Category_id) }}</td>
            </tr>
            <tr>
                <td class="text-right">{{ form_label(form.Class_id) }}</td>
                <td class="text-left">{{ form_widget(form.Class_id) }}</td>

            </tr>
        </tbody>

    </table>

    <div class="container my-5">
        <button class="btn bg-primary px-3 py-2 rounded text-white">{{ button_label|default('Ajouter') }}</button>
    </div>

{{ form_end(form) }}
