{% extends 'base.html.twig' %}

{% block title %}Elève{% endblock %}

{% block body %}
<div class="container minVhTheme mx-auto ptNav text-center">

    <div class="m-3">
        <a class="btn bg-primary px-3 py-2 rounded text-white" href="{{ path('eleve_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
    </div>
    <div class="container m-auto text-center">
        <h1>Vue d'un élève</h1>
        <div class="container d-flex m-auto py-5">
            <div class="container col-6 text-right">
                <h3>Id: </h3>
                <h3>Nom: </h3>
                <h3>Prénom: </h3>
                <h3>Date de naissance: </h3>
                <h3>Catégorie: </h3>
                <h3>Genre: </h3>
                <h3>Date de création: </h3>
                <h3>Date de mise à jour: </h3>
                <h3>Archivé: </h3>
                <h3>Classe: </h3>
            </div>
            <div class="container col-6 text-left">
                <h3>{{ eleve.getId }}</h3>
                <h3>{{ eleve.getNom }}</h3>
                <h3>{{ eleve.getPrenom }}</h3>
                <h3>{{ eleve.getDateNaissance|date("m/d/Y", "Europe/Paris") }}</h3>
                <h3>{{ eleve.getCategoryId }}</h3>
                <h3>{{ eleve.getGenre }}</h3>
                <h3>{{ eleve.getDateCreation|date("m/d/Y", "Europe/Paris") }}</h3>
                <h3>{{ eleve.getDateMaj|date("m/d/Y", "Europe/Paris") }}</h3>
                <h3>{{ eleve.getArchivee }}</h3>
                <h3>{{ eleve.getClassId }}</h3>
            </div>

            {{ include('eleve/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
