{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container d-flex minVhTheme m-auto">
        <div class="bg-theme-blue d-flex m-auto px-4 py-5 rounded-theme">
            <div class="col-10 col-sm-6 d-flex mx-auto">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{message}}
                    </div>
                {% endfor %}
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}

                    <h3 class="mb-3 text-theme-white">Connectez-vous</h3>
                    <label class=" text-theme-white" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label class=" text-theme-white" for="inputPassword">Mot de passe </label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}
                    <a class="" href="{{ path('contact') }}">Mot de passe oublié ?</a>
                    <br>
                    <button class="btn btn-primary d-flex mt-3 mx-auto" type="submit">
                        Connexion
                    </button>

                </form>
            </div>
            <div class="col-10 col-sm-5">
                <h3 class="mb-4 text-theme-white">Pas encore de compte ?</h3>
                <p class="text-theme-white">Vous êtes étudiant et vous n'avez pas encore de compte sur la plateforme ?</p>
                <div class="container d-flex">
                    <a class="btn btn-primary mx-auto" href="{{ path('app_register') }}">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
