{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container minVhTheme mx-auto ptNav text-center">

        <div class="container m-auto text-center ">
            <div class="m-3">
                <h2>Enregistrez-vous</h2>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <div class="invisible">
                    {{ form_row(registrationForm.roles) }}
                </div>
                <a class="btn bg-primary px-3 py-2 rounded text-white" href="{{ path('app_login') }}"><i class="fas fa-arrow-left"></i> Retour</a>
                <button type="submit" class="btn bg-primary px-3 py-2 rounded text-white">S'enregistrer</button>
            {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
