{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1 class="my-3 text-center">Liste des categories</h1>

    <div class="container my-5">
        <a class="bg-primary p-3 rounded text-white" href="{{ path('category_new') }}">Ajouter un categorie</a>
    </div>

    <table class="container table">
        <thead>
            <tr class="row text-center">
                <th class="col-1">Id</th>
                <th class="col">Nom de la catégorie</th>
                <th class="col-2">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categorys %}
            <tr class="row text-center">
                <td class="col-1">{{ category.id }}</td>
                <td class="col">{{ category.nom }}</td>
                <td class="col-2">
                    <a href="{{ path('category_show', {'id': category.id}) }}"><i style="font-size: 24px" class="fas fa-eye"></i></a>
                    <a class="mx-2" href="{{ path('category_edit', {'id': category.id}) }}"><i style="font-size: 24px" class="fas fa-pencil-alt"></i></a>
                    <a href="{{ path('category_delete', {'id': category.id}) }}"><i style="font-size: 24px" class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Il n'y a aucun categorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
