{% extends 'base.html.twig' %}

{% block title %}Evènement{% endblock %}

{% block body %}
    <h1 class="my-3 text-center">Liste des évènements</h1>

    <div class="container my-5">
        <a class="bg-primary p-3 rounded text-white" href="{{ path('evenement_new') }}">Ajouter un évènement</a>
    </div>

    <table class="container table">
        <thead>
            <tr class="row text-center">
                <th class="col">Nom du sport</th>
                <th class="col">Nom du type</th>
                <th class="col">Nom de la catégorie</th>
                <th class="col">Nom de l'évènement</th>
                <th class="col">Description</th>
                <th class="col">Date de debut</th>
                <th class="col">Nombre de places</th>
                <th class="col">Image</th>
                <th class="col">Vignette</th>
                <th class="col">Duree</th>
                <th class="col">Date de fin</th>
                <th class="col-2">Action</th>
            </tr>
        </thead>
        <tbody>
        
        {% for evenement in evenements %}
            <tr class="row text-center">
                <td class="col">{{ evenement.sport }}</td>
                <td class="col">{{ evenement.type }}</td>
                <td class="col">{{ evenement.category }}</td>
                <td class="col">{{ evenement.nom }}</td>
                <td class="col">{{ evenement.description }}</td>
                <td class="col">{{ evenement.GetDateDebut|date("m/d/Y", "Europe/Paris") }}</td>
                <td class="col">{{ evenement.GetNombrePlaces() }}</td>
                <td class="col">{{ evenement.GetImage() }}</td>
                <td class="col">{{ evenement.GetVignette() }}</td>
                <td class="col">{{ evenement.GetDuree() }}</td>
                <td class="col">{{ evenement.GetDateFin|date("m/d/Y", "Europe/Paris") }}</td>
                <td class="col-2">
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}"><i style="font-size: 24px" class="fas fa-eye"></i></a>
                    <a class="mx-2" href="{{ path('evenement_edit', {'id': evenement.id}) }}"><i style="font-size: 24px" class="fas fa-pencil-alt"></i></a>
                    <a href="{{ path('evenement_delete', {'id': evenement.id}) }}"><i style="font-size: 24px" class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Il n'y a aucun évènement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
