{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container minVhTheme mx-auto pt-5 text-center">
        <h1 class="text-left pb-4 pt-5">Accueil</h1>
        <h4 class="font-weight-bold text-left">Derniers évènements</h4>
        <div class="container m-auto py-5">
            {% for evenement in evenements %}
                <div class="container d-flex py-3 text-center">
                    <div class="col-3">
                        {{ evenement.image }}
                    </div>
                    <div class="col-6">
                        <h3 class="text-left">{{ evenement.nom }}</h3>
                        <div class="d-flex">
                            <div class="d-flex">
                                <span class="infoHome m-auto"><i class="fas fa-calendar-week"></i> {{ evenement.GetDateDebut|date("d/m/Y", "Europe/Paris") }}</span>
                            </div>
                            <div class="d-flex offset-1">
                                <span class="infoHome m-auto"><i class="fas fa-exclamation-circle"></i> 12 inscrits sur 30</span>
                            </div>
                            <div class="bg-light d-flex offset-1 px-2 rounded-theme">
                                <span class="infoHome font-weight-bold m-auto">{{ evenement.type }}</span>
                            </div>
                            <div class="bg-info d-flex offset-1 px-2  rounded-theme">
                                <span class="infoHome font-weight-bold m-auto">{{ evenement.sport }}</span>
                            </div>
                        </div>
                        <p class="text-left">{{ evenement.description }}</p>
                        <p class="text-left">
                            <a class="font-weight-bold text-dark" href="{{ path('evenement_show', {'id': evenement.id}) }}">Voir l'évènement ></a>
                        </p>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="13">Il n'y a aucun évènement</td>
                </tr>
            {% endfor %}
        </div>
    </div>

{% endblock %}
