
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <title>{% block title %}assostvincent{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% block navigation %}
    <header>
        <div class="headerMain">
            <div class="lineBtn">
                <div class="sideLeft">
                    <a href="{{ path('accueil') }}" class="settingBtn">logo</a>
                    <a href="{{ path('accueil') }}"class="settingBtn">ACCUEIL</a>
                </div>
                <div class="d-flex flex-row sideRight">
                    <img class="icons-iog" src="" alt="user icon">
                    <a class="settingBtn" href="{{ path('app_login') }}">S'IDENTIFIER</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
{% block footer %}
<footer>
    <div class="footerMain">
        <div class="container">
            <div class="row">
                <!--La classe bg-info ajoute un fond bleu à l'élément-->
                <div class="col">
                    <ul>
                        <li class="titreFooter">Association Sportive Saint-Vincent</li>
                        <li><br></li>
                        <li class="infoFooter">30 rue de Meaux,</li>
                        <li class="infoFooter">60300 Senlis</li>
                        <li><br></li>
                        <li class="infoFooter">Association Saint-Vincent</li>
                        <li class="infoFooter">hhtps://www.lycee-stvincent.fr/</li>
                    </ul>

                </div>

                <div class="col">
                    <ul>
                        <li class="titreFooter">Nous contacter</li>
                        <li><br></li>
                        <li class="infoFooter">Tél: 03 66 66 66 66</li>
                        <li class="infoFooter">Fax: 03 66 66 66 66</li>
                        <li class="infoFooter">Email: contact@lyceestvincent.fr</li>
                        <li class="infoFooter">web: https://asso-sport.lyceestvincent.fr</li>
                    </ul>

                </div>
                <div class="col">
                    <ul>
                        <li class="titreFooter">Accès rapide</li>
                        <li><br></li>
                        <li class="infoFooter">>Accueil</li>
                        <li class="infoFooter">>Actualités</li>
                        <li class="infoFooter">>Événements</li>
                        <li class="infoFooter">>Contact</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="titreFooter">Suivez-nous</p>
                    <img src="" alt="icone twitter">
                    <img src="" alt="icone facebook">
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

</html>
